<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>vviser</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
      <servlet-name>ServletInsertProdottiValutazione</servlet-name>
      <servlet-class>it.unisa.vviser.servlet.ServletInsertProdottiValutazione</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ServletInsertProdottiValutazione</servlet-name>
        <url-pattern>/ServletInsertProdottiValutazione</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ServletVisualizzaProdotti</servlet-name>
      <servlet-class>it.unisa.vviser.servlet.ServletVisualizzaProdotti</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ServletVisualizzaProdotti</servlet-name>
        <url-pattern>/ServletVisualizzaProdotti</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ServletSelezioneModifica</servlet-name>
      <servlet-class>it.unisa.vviser.servlet.ServletSelezioneModifica</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ServletSelezioneModifica</servlet-name>
        <url-pattern>/ServletSelezioneModifica</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ServletVerificaListeVisualizza</servlet-name>
      <servlet-class>it.unisa.vviser.servlet.ServletVerificaListeVisualizza</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ServletVerificaListeVisualizza</servlet-name>
        <url-pattern>/ServletVerificaListeVisualizza</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ServletSelezionaListe</servlet-name>
      <servlet-class>it.unisa.vviser.servlet.ServletSelezionaListe</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ServletSelezionaListe</servlet-name>
        <url-pattern>/ServletSelezionaListe</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ServletListaUtentiValutazione</servlet-name>
      <servlet-class>it.unisa.vviser.servlet.ServletListaUtentiValutazione</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ServletListaUtentiValutazione</servlet-name>
        <url-pattern>/ServletListaUtentiValutazione</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ServletModificaProdottiValutazione</servlet-name>
      <servlet-class>it.unisa.vviser.servlet.ServletModificaProdottiValutazione</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ServletModificaProdottiValutazione</servlet-name>
        <url-pattern>/ServletModificaProdottiValutazione</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ServletRifiutaListaValutazione</servlet-name>
      <servlet-class>it.unisa.vviser.servlet.ServletRifiutaListaValutazione</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ServletRifiutaListaValutazione</servlet-name>
        <url-pattern>/ServletRifiutaListaValutazione</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ServletSuggerimentoListaValutazione</servlet-name>
      <servlet-class>it.unisa.vviser.servlet.ServletSuggerimentoListaValutazione</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>ServletSuggerimentoListaValutazione</servlet-name>
        <url-pattern>/ServletSuggerimentoListaValutazione</url-pattern>
    </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUtenteServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.AddUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUtenteServlet</servlet-name>
    <url-pattern>/AddUtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InserimentoProdottoServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.InserimentoProdottoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoProdottoServlet</servlet-name>
    <url-pattern>/InserimentoProdottoServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>ValidazioneDipartimentoServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.ValidazioneDipartimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidazioneDipartimentoServlet</servlet-name>
    <url-pattern>/ValidazioneDipartimentoServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>VisualizzaProdottiNonValidatiServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.VisualizzaProdottiNonValidatiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaProdottiNonValidatiServlet</servlet-name>
    <url-pattern>/VisualizzaProdottiNonValidatiServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>VisualizzaProdottiValidatiDipartimentoServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.VisualizzaProdottiValidatiDipartimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaProdottiValidatiDipartimentoServlet</servlet-name>
    <url-pattern>/VisualizzaProdottiValidatiDipartimentoServlet</url-pattern>
  </servlet-mapping>
   <servlet>
   <servlet-name>InvioNotificaValidazioneServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.InvioNotificaValidazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvioNotificaValidazioneServlet</servlet-name>
    <url-pattern>/InvioNotificaValidazioneServlet</url-pattern>
  </servlet-mapping>
   <servlet>
     <servlet-name>ValidazioneAreaScientificaServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.ValidazioneAreaScientificaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidazioneAreaScientificaServlet</servlet-name>
    <url-pattern>/ValidazioneAreaScientificaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>RicercaPubblicaProdottoServlet</servlet-name>
    <servlet-class>it.unisa.vviser.servlet.RicercaPubblicaProdottoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaPubblicaProdottoServlet</servlet-name>
    <url-pattern>/RicercaPubblicaProdottoServlet</url-pattern>
  </servlet-mapping>
</web-app>