@charset "utf-8";
/* CSS Document */

body{height:620px;width:850px;}
header#container-header{width:850px;}
nav{width:850px;}
section#container-section{height:140px;width:850px;}
footer#container-footer{top:580px;width:850px;}
section#login{width:150px;left:30px;height:80px;top:30px;}
section#search-prod{width:150px;left:190px;height:80px;top:30px;}
section#documenti{width:150px;left:350px;height:80px;top:30px;}
section#logout{position:absolute;width:150px;left:670px;height:80px;top:30px;background-color:blue;}
section#profilo{width:850px;}