.navigation{
	width:90%;
	position:absolute;
	top:0%;
	background-color:SEAGREEN;
	height:25px;
	z-index:1;
}

.navigation ul{	
	list-style-type:none;
	text-indent:0px;
	margin:3px;
	font-size:15px;
}

.navigation li{
	display:inline;
}

.navigation a{
	color:white;
	text-decoration:underline;
}

#searchBox{
	position:relative; 
	top:0px; 
	width:80%; 
	left:10%;
}

#risultati{
	position:relative; 
	top:5px; 
	width:80%; 
	left:5%;
}

#modifyTable{
	position:relative;
	top:10%;
}