.navigation{
	width:90%;
	position:absolute;
	top:0%;
	background-color:SEAGREEN;
	height:25px;
}

.navigation ul{	
	list-style-type:none;
	text-indent:0px;
	margin:3px;
	font-size:15px;
}

.navigation li{
	display:inline;
}

.navigation a{
	color:white;
	text-decoration:underline;
}

#searchBox{
	position:absolute; 
	top:7%; 
	width:80%; 
	left:5%;
}

#risultati{
	position:absolute; 
	top:40%; 
	width:80%; 
	left:5%;
}

